@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<section>
    <div class="banner-main">
        <img src="~/AssetHome1/images/banner.jpg" alt="#" />
        <div class="container">
            <div class="text-bg">
                <h1>VIỆT NAM<br><strong class="white">NHỮNG CHUYẾN ĐI</strong></h1>
                <div class="button_section"> <a class="main_bt" href="#">Read More</a>  </div>
                <div class="container">
                    <form class="main-form">
                        <h3>Find Your Tour</h3>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                                        <div class="form-group">
                                            <div class="form-checkbox">
                                                <label for="roundtrip">
                                                    <input type="radio" class="ItineraryRadio" id="roundtrip" name="flight_type" onchange="ToggleDatepicker()" value="2">
                                                    <span></span>Roundtrip
                                                </label>
                                                <label for="one-way" style="left:10px; position:relative;">
                                                    <input type="radio" class="ItineraryRadio" id="one-way" name="flight_type" checked onchange="ToggleDatepicker()" value="1">
                                                    <span></span>One way
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                                        <label>FLYING FROM</label>
                                        <select class="form-control">
                                            <option>Option 1</option>
                                            <option>Option 2</option>
                                            <option>Option 3</option>
                                        </select>
                                        <label>FLYING TO</label>
                                        <select class="form-control" name="Any">
                                            <option>Option 1</option>
                                            <option>Option 2</option>
                                            <option>Option 3</option>
                                        </select>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                                        <div class="form-group">
                                            <span class="form-label">Adults (18+)</span>
                                            <select name="Adult" class="form-control">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                            </select>
                                            <span class="select-arrow"></span>
                                        </div>
                                        <div class="form-group">
                                            <span class="form-label">Children (0-17)</span>
                                            <select class="form-control">
                                                <option value=0>0</option>
                                                <option value=1>1</option>
                                                <option value=2>2</option>
                                            </select>
                                            <span class="select-arrow"></span>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                                        <label>DEPARTING</label>
                                        <input class="form-control" placeholder="Any" type="date" name="Any">
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                                        <label>RETURNING</label>
                                        <input class="form-control" placeholder="Any" type="date" name="Any">
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                                        <label>TRAVEL CLASS</label>
                                        <input class="form-control" placeholder="00.0" type="text" name="00.0">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                                <a href="#">search</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about -->
<div id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="titlepage">
                    <h2>About  our travel agency</h2>
                    <span> fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,</span>
                </div>
            </div>
        </div>
    </div>
    <div class="bg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="about-box">
                        <p> <span>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure thereThere are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there</span></p>
                        <div class="palne-img-area">
                            <img src="~/AssetHome1/images/plane-img.png" alt="images">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#">Read More</a>
    </div>
</div>
<!-- end about -->
<!--London -->
<div class="London">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Weekend in New York, London</h2>
                    <span>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="London-img">
            <figure><img src="~/AssetHome1/images/London.jpg" alt="img" /></figure>
        </div>
    </div>
</div>
<!-- end London -->
<!--Tours -->
<div class="Tours">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>The Best Tours</h2>
                    <span>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,</span>
                </div>
            </div>
        </div>
        <section id="demos">
            <div class="row">
                <div class="col-md-12">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <img class="img-responsive" src="~/AssetHome1/images/1.jpg" alt="#" />
                            <h3>Holiday Tour</h3>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in soe suffk even slightly believable. If y be sure there</p>
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="~/AssetHome1/images/2.jpg" alt="#" />
                            <h3>New York</h3>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in soe suffk even slightly believable. If y be sure there</p>
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="~/AssetHome1/images/3.jpg" alt="#" />
                            <h3>London</h3>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in soe suffk even slightly believable. If y be sure there</p>
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="~/AssetHome1/images/2.jpg" alt="#" />
                            <h3>Holiday Tour</h3>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in soe suffk even slightly believable. If y be sure there</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- end Tours -->
<!-- Amazing -->
<div class="amazing">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="amazing-box">
                    <h2>Amazing London Tour</h2>
                    <span>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there</span>
                    <a href="#">Book Now</a><a href="#">Get More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end Amazing -->
<!-- our blog -->
<div id="blog" class="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Our Blog</h2>
                    <span>Lorem Ipsum is that it has a more-or-less normal distribution of letters,</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="blog-box">
                    <figure>
                        <img src="~/AssetHome1/images/blog-image0.jpg" alt="#" />
                        <span>4 Feb 2019</span>
                    </figure>
                    <div class="travel">
                        <span>Post  By :  Travel  Agency</span>
                        <p><strong class="Comment"> 06 </strong>  Comment</p>
                        <p><strong class="like">05 </strong>Like</p>
                    </div>
                    <h3>London Amazing Tour</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web</p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="blog-box">
                    <figure>
                        <img src="~/AssetHome1/images/blog-image.jpg" alt="#" />
                        <span>10 Feb 2019</span>
                    </figure>
                    <div class="travel">
                        <span>Post  By :  Travel  Agency</span>
                        <p><strong class="Comment"> 06 </strong>  Comment</p>
                        <p><strong class="like">05 </strong>Like</p>
                    </div>
                    <h3>London Amazing Tour</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end our blog -->